<div class="usersProfile">
	<input class="sendGameRequest" id="sendGameRequest" type="button" value="Challenge To A Game">
	<input class="refreshProfile" id="refreshProfile" type="button" value="Refresh Profile">
	<div class="username" id="username"></div>
	<div class="onlineIndicator" id="onlineIndicator"></div>
	<div class="statsContainer" id="statsContainer"></div>
	<div class="joinDateContainer" id="joinDateContainer"></div>
	<div class="postCountContainer" id="postCountContainer"></div>
	<div class="activeGamesContainer">
		<div class="activeGamesTitle">Active Games</div>
		<div class="scrollArea" id="activeGamesScrollArea"></div>
	</div>
	<div class="completedGamesContainer">
		<div class="completedGamesTitle">Completed Games</div>
		<div class="scrollArea" id="completedGamesScrollArea"></div>
	</div>
</div>