body
{
	background-color: rgb(57, 221, 221);
}

.topBar
{
	box-shadow: 5px 5px 5px;
	background-color: rgb(163, 189, 192);
	overflow-x: hidden;
	float: left;
}

.topBarInternal
{
	margin-left: 5px;
}

.appContainer
{
	float: left;
	margin-top: 15px;
	padding-bottom: 5%;
	display: inline;
	background-color: rgb(57, 221, 221);
}

.app
{
	margin-left: 7px;
	position: relative;
}

.pretty
{
	width: 35px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}

.signOut
{
	display: inline-block;
}

.app
{
	position: relative;
}