.profileContainer .activeGamesTitle,
.profileContainer .completedGamesTitle
{
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	box-shadow: 0px 0px 3px 3px;
	float: left;
	text-align: center;
	font-size: 2vw;
}


.profileContainer .activeGamesContainer,
.profileContainer .completedGamesContainer
{
	width: 45%;
	height: 0;
	margin-top: 3%;
	padding-bottom: 40%;
	border-style: solid;
	border-width: 2px;
	float: left;
}

.profileContainer .activeGamesContainer
{
	margin-left: 1.5%;
	clear: left;
}

.profileContainer .completedGamesContainer
{
	margin-left: 4%;
}

.profileContainer .activeGamesContainer .scrollArea,
.profileContainer .completedGamesContainer .scrollArea
{
	height: 32vw;
	float: left;
	clear: left;
	width: 98%;
	margin-top:3%;
}

.profileContainer .usersGame
{
	border: 2px solid;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 2%;
}

.profileContainer .scrollArea
{
	overflow-y: auto;
	margin-left: 2%;
	margin-top: 1%;
}

.profileContainer .username
{
	text-align: center;
	font-size: 12vh;
	margin-bottom: -1%;
	clear: right;
}

.profileContainer .statsContainer
{
	float: left;
	clear: left;
	margin-left: 1.5%;

}

.profileContainer .stats,
.profileContainer .joinDate
{
	border-style: solid;
	border-width: 2px;
	width: 15vw;
}

.profileContainer .stat
{
	margin-left: 4%;
}

.profileContainer .joinDateContainer
{
	float: left;
	margin-left: 1.5%;
}

.profileContainer .joinDateStamp
{
	margin-left: 4%;
}

.profileContainer .onlineIndicator
{
	text-align: center;
	margin-bottom: 3%;
}

.profileContainer .enterGame
{
	margin: 1%;
	width: 98%;
}

.profileContainer .turnMessage
{
	text-align: center;
	margin: 1%;
}

.profileContainer .refreshProfile
{
	float: right;
}

.profileContainer .stats .statsTitle,
.profileContainer .joinDate .joinDateTitle
{
	width: 88%;
	margin-top: 6%;
	margin-bottom: 6%;
	margin-left: 6%;
	box-shadow: 0px 0px 3px 3px;
	float: left;
	text-align: center;
	font-size: 2vw;
}
}