.loginPage 
{
	background-color: rgb(57, 221, 221);
	background-image: url('ink-splash-hi.png');
	background-repeat: no-repeat;
	background-position-x: 174px;
	background-position-y: 55px;
}

.loginPage .header
{
	font-size: xx-large;
	box-shadow: 5px 5px 5px;
	margin-bottom: 21px;
	background-color: rgb(163, 189, 192);
}

.loginPage .formContainer
{
	width: 170px;
	clear: both;
	box-shadow: 5px 5px 5px;
	background-color: rgb(163, 189, 192);
	float: left;
	margin-right: 30px;
}

.loginPage .formContainer input
{
	width: 95%;
	clear: both;
}

.loginPage .formContainer button
{
	width: 95%;
	clear: both;
}

.loginPage .form
{
		margin: 5px;
}