.registrationPage 
{
	background-color: rgb(57, 221, 221);
}

.registrationPage .formDiv
{
	display: block;
}

.registrationPage .formContainer
{
	width: 170px;
	clear: both;
	box-shadow: 5px 5px 5px;
	background-color: rgb(163, 189, 192);
	float: left;
	margin-right: 30px;
}

.registrationPage .formContainer input
{
	width: 95%;
	clear: both;
}

.registrationPage .formContainer button
{
	width: 95%;
	clear: both;
}

.registrationPage .form
{
		margin: 5px;
}

.registrationPage .header
{
	font-size: xx-large;
	box-shadow: 5px 5px 5px;
	margin-bottom: 21px;
	background-color: rgb(163, 189, 192);
}