<div class="forum">
	<div class="forumTitle">Ultimate Tic-Tac-Toe Forum</div>
	<div class="dotKey">
		<img class="redDot" src="redDot.png"> : Indicates that you have <b>not</b> viewed this thread since a new post has been made. <br><br>
		<img class="greenDot" src="greenDot.png"> : Indicates that you have viewed this thread since a new post has been made.
	</div>
	<div class="forumListHeader">
		<div class="title">Title</div>
		<div class="posts">Post Count</div>
		<div class="views">View Count</div>
		<div class="lastPost">Last Post</div>
		<input class="createThread" id="createThread" type="button" value="Create New Thread">
	</div>
	<div class="threadContainer" id="threadContainer"></div>
</div>