<div class="uttGameRoom room">
	<div class="onlineUsersContainer" id="onlineUsersContainer">
		<div class="scrollArea" id="onlineUsersScrollArea"></div>
	</div>
	<div class="chatArea mainChatArea">
		<div class="scrollArea" id="chatScrollArea"></div>
	</div>
	<select class="userList" id="userList">
	</select>
	<input class="typeArea" id="message" type="text">
	<input class="submitButton" id="submitButton" type="button" value="Send">
	<input class="requestGame" id="requestGame" type="button" value="Challenge">
	<div class="yourGamesTitle">Your Games</div>
	<div class="activeGamesContainer">
		<div class="activeGamesTitle">Active Games</div>
		<div class="scrollArea" id="activeGamesScrollArea"></div>
	</div>
	<div class="pendingGamesContainer">
		<div class="pendingGamesTitle">Pending Games</div>
		<div class="scrollArea" id="pendingGamesScrollArea"></div>
	</div>
</div>