<div class="uttGame">
	<div class="header">	
		<div id="turnIndicator" class="turnIndicator"></div>
		<input class="claimVictoryButton" id="claimVictory" type="button" value="Claim Victory!" style="display:none">
		<input class="uttGameButton" id="returnToUttGameRoom" type="button" value="Return to Chat">
	</div>
	<div class="boardContainer">
	<div class="board">
		<div class="bigGrid" id="grid1" data-gridNumber="1">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid2" data-gridNumber="2">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid3" data-gridNumber="3">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid4" data-gridNumber="4">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid5" data-gridNumber="5">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid6" data-gridNumber="6">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid7" data-gridNumber="7">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid8" data-gridNumber="8">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="bigGrid" id="grid9" data-gridNumber="9">
			<div class="verticalLine1"></div>
			<div class="verticalLine2"></div>
			<div class="horizontalLine1"></div>
			<div class="horizontalLine2"></div>
		</div>
		<div class="verticalLine1 bigLine"></div>
		<div class="verticalLine2 bigLine"></div>
		<div class="horizontalLine1 bigLine"></div>
		<div class="horizontalLine2 bigLine"></div>
	</div>
	<div class="gameChatArea chatArea">
		<div class="scrollArea" id="gameChatScrollArea"></div>
	</div>
	<input class="typeArea" id="gameMessage" type="text">
	<input class="submitButton" id="gameChatSubmitButton" type="button" value="Send">
</div>
</div>
