.uttContainer .onlineUsersContainer
{
	width: 20%;
	height: 0;
	padding-bottom: 33%;
	float: left;
	border-radius: 15px;
	background-color: white;
}

.uttContainer .yourGamesTitle
{
	width: 99%%;
	box-shadow: 0px 0px 3px 3px;
	margin-top: 2%;
	font-size: 3vw;
	text-align: center;
}

.uttContainer .activeGamesTitle,
.uttContainer .pendingGamesTitle
{
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	box-shadow: 0px 0px 3px 3px;
	float: left;
	text-align: center;
	font-size: 2vw;
}


.uttContainer .activeGamesContainer,
.uttContainer .pendingGamesContainer
{
	width: 45%;
	height: 0;
	margin-top: 3%;
	padding-bottom: 40%;
	border-style: solid;
	border-width: 2px;
	float: left;
}

.uttContainer .activeGamesContainer
{
	margin-left: 1.5%;
}

.uttContainer .pendingGamesContainer
{
	margin-left: 4%;
}

.uttContainer .activeGamesContainer .scrollArea,
.uttContainer .pendingGamesContainer .scrollArea
{
	height: 32vw;
	float: left;
	clear: left;
	width: 98%;
	margin-top:3%;
}

.uttContainer .userList
{
	width: 20%;
}

.uttContainer .chatArea
{
	width: 75%;
	height: 0;
	margin-left: 2%;
	padding-bottom: 33%;
	float: left;
	border-radius: 15px;
	background-color: rgb(236, 149, 138);
}

.uttContainer .boardContainer .chatArea
{
	width: 100%;
	margin-top: 10%;
	margin-left: 0%;
}

.uttContainer .uttGame .boardContainer .gameChatArea .scrollArea
{
	height: 27vh;
}

.uttContainer .mainChatArea .scrollArea,
.uttContainer .onlineUsersContainer .scrollArea
{
	height: 29vw;
}

.uttContainer .scrollArea
{
	overflow-y: auto;
	margin-left: 2%;
	margin-top: 1%;
}

.uttContainer .active
{
	border: 2px solid;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 2%;
}

.uttContainer .onlineUser
{
	float: left;
	clear: left;
	margin-top: 2%;
	margin-left: 4%;
}

.uttContainer .typeArea
{
	width: 63%;
	margin-left: 2%;
	margin-top: 1%;
}

.uttContainer .boardContainer .typeArea
{
	width: 85%;
}

.uttContainer .submitButton
{
	width: 10%;
}

.uttContainer .requestGame
{
	width: 20%;

}

.uttContainer .header
{
	display: inline-block;
	width: 100%;
}

.uttContainer .board
{
	top: 3vh;
	width: 81vh;
	position: relative;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.uttContainer .boardContainer
{
	height: 86vh;
	width: 88vh;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	border-radius: 19px;
}

.uttContainer .board .bigGrid
{
	width: 33%;
	height: 0;
	padding-bottom: 33%;
	position: relative;
	float:left;
	background-color: black;
}

.uttContainer .board .verticalLine1
{
	width: 1%;
	height: 0;
	padding-bottom: 90%;
	margin-top: 5%;
	margin-left: 32.5%;
	position: absolute;
	background-color: rgb(9,199,146);
}

.uttContainer .board .verticalLine2
{
	width: 1%;
	height: 0;
	padding-bottom: 90%;
	margin-top: 5%;
	margin-left: 65.5%;
	position: absolute;
	background-color: rgb(9,199,146);
}

.uttContainer .board .horizontalLine1
{
	height: 1%;
	width: 0;
	padding-right: 90%;
	margin-left: 5%;
	margin-top: 32.5%;
	background-color: rgb(9,199,146);
	position: absolute;
}

.uttContainer .board .horizontalLine2
{
	height: 1%;
	width: 0;
	padding-right: 90%;
	margin-left: 5%;
	margin-top: 65.5%;
	background-color: rgb(9,199,146);
	position: absolute;
}

.uttContainer .board .bigLine.horizontalLine1,
.uttContainer .board .bigLine.horizontalLine2
{
	background-color: rgb(207,8,8);
	height: 1vh;
}

.uttContainer .board .bigLine.verticalLine1,
.uttContainer .board .bigLine.verticalLine2
{
	background-color: rgb(207,8,8);
	width: 1vh;
}

.uttContainer .uttGame .uttGameButton
{
	float: right;
}

.uttContainer .ximg
{
	color: blue;
	font-size: 9vh;
	width: 0;
	height: 0;
	position: absolute;
}

.uttContainer .oimg
{
	color: red;
	font-size: 9vh;
	width: 0;
	height: 0;
	position: absolute;
}

.uttContainer .playerTitle
{
	margin-top: 4vh;
	text-align: center;
	font-size: 7vh;
}

.uttContainer .turnIndicator
{
	text-align: center;
	margin: 1%;
}

.uttContainer .goToGame
{
	margin: 1%;
	width: 98%;
}

.uttContainer .active
{

}

.uttContainer .claimVictoryButton
{
	display: inline-block;
	margin-left: 44vw;
	margin-bottom: 1%
}
